#root {
  margin: 0;
  display: grid;
  grid-template: 80px auto 80px / auto;
}

.header{
  height: 80px;
  display: grid;
  grid-template: auto / repeat(3, 1fr);
  align-items: end;
  padding: 0 20px;
}

.headerTitle{
  padding-left: 20px;
}

.currentScore{
  padding-left: 30%;
}

/* .highScore{

} */

.board{
  display: grid;
  grid-template: 1fr / repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.tile {
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 20px;
  background-color: dimgray;
}

.tile:hover{
  border: 1px solid white;
}

img {
  height: 250px;
  width: 250px;
  max-width: 250px;
  object-fit: cover;
}

.imageTitle{
  display: grid;
  justify-content: center;
  align-items: center;
  font-weight: 800;
}

.loadingMessage{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}


.instructions{
  background-color: rgb(255, 0, 0, 65%);
  border-radius: 10px;
  font-size: 24px;
  text-align: center;
  padding: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
  visibility: visible;
}

.footer{
  display: grid;
  justify-content: center;
  align-items: center;
  color: gray;
}